<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP project</title>
    <link rel="stylesheet" href="static/stylecopy.css">
</head>
<body>
    <div class="form-group">
        <img id="map"src="static/map.png" style="width:100%">
    </div>
    
<div class="hero-text">
        <h1 style="font-size:50px">The Sentence Related to</h1>
        <textarea type="text" name="message" rows="10" cols="30">text</textarea>
        
</div>

      

</body>
</html>