<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP project</title>
    <link rel="stylesheet" href="static/style.css">

    <link href="bootstrap/css/bootstrap.min.css">
</head>
<body>
   
<div class="hero-text">
        <h1 style="font-size:50px">Extract Places</h1>

        <form action="/ExData" method="POST">
        <input type="text" id="text" name="text" placeholder="write sentence here"><br>
        <button class="button" onclick="myFunction()" >Submit</button>
      </form>
    </div>
          <img src="static/map.png" style="width:100%">
</body>
</html>